* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
        background:
               linear-gradient(
                 rgba(0, 0, 0, 0.5), 
                 rgba(0, 0, 0, 0.5)
               ),
               url(https://scontent.fccm4-1.fna.fbcdn.net/v/t1.6435-9/94625689_111288287228231_4155613242380517376_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=GPuE6fNrBA8AX_yW1Qs&_nc_ht=scontent.fccm4-1.fna&oh=3ac072af40fa6ca8e975ce0ea9672c4c&oe=61687859);
           }

.main > h1 {
    background-image: linear-gradient(to right,rgb(0, 92, 197), rgb(90, 20, 220));
    color: white;
    text-align: left;
}

.main > h1:hover {
    cursor: pointer;
}

.main > ul {
    color: white;
    background-image: linear-gradient(to right,rgb(0, 92, 197), rgb(89, 0, 255));
}

.main, a{
    text-decoration: none;
    color: white;
    text-align: center;
    align-items: center;
}

.main, li {
    display: inline;
    text-align: right;
}

.main > ul > li{
    padding: 0 10px;
    font-size: 15px;
}

.main > ul:hover > li:hover {
    cursor: pointer;
    opacity: 0.8;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), #00A551);
}

.main > ul > a{
    justify-content: space-between;
}

.header > h1 {
    background-image: linear-gradient(to right,rgb(0, 92, 197), rgb(90, 20, 220));
    color: white;
    text-align: center;
    margin: 20px;
    font-size: 40px;
    margin-left: 10em;
    margin-right: 10em;
    border-radius: 30px;
}

.header > h1:hover {
    cursor: pointer;
    background-image: linear-gradient(to right, rgb(10, 76, 151), rgb(69, 32, 139));
    opacity: 0.8;
}

.header > ul, li {
    align-items: center;
    text-align: center;
}

.header > ul > li > p {
    display: inline;
    background-image: linear-gradient(to right,rgb(0, 92, 197), rgb(90, 20, 220));
}

.header > ul:hover > li:hover > p:hover {
    cursor: pointer;
    background-image: linear-gradient(to right, rgb(10, 76, 151), rgb(69, 32, 139));
    opacity: 0.8;
}

img {
    margin: 2px;
}


.mainsorteios, h1#s {
    background-image: linear-gradient(to right,rgb(0, 92, 197), rgb(89, 0, 255));
    color: white;
    font-size: 30px;
    text-align: center;
}

.mainsorteios, h1:hover {
    cursor: pointer;
    background-color: black;
    opacity: 0.8;
}

.mainsorteios, ul#s{
    text-align: center;
    padding: 2px;
}

.mainsorteios, p#s , li#s {
    display: inline;
}

.mainsorteios, h2#s {
    color: white;
    text-align: center;
}


hr {
    margin: 2px;
    color: black;
    background-color: black;
}

h1#avisos {
    font-size: 50px;
    text-align: center;
    background-image: linear-gradient(to right,rgb(0, 92, 197), rgb(89, 0, 255));
    color: white;
}

img#hub {
    padding: 0;
    margin: 0;
    border: none;
}

img#tela {
    padding: 0;
    margin: 0;
    border: none;
}